<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean class="com.yesmynet.query.service.DatabaseIniterService" init-method="init">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
		<property name="sqlFile" value="classpath:databaseUpdate.sql"></property>
		<property name="expectedDatabaseVersion" value="1"></property>
		
	</bean>
	<bean id="qureyRunService" class="com.yesmynet.query.core.service.run.impl.QureyRunServiceDefaultImpl">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
		<property name="dataSourceConfigList">
			<list>
				<bean class="com.yesmynet.query.core.dto.DataSourceConfig">
					<property name="id" value="oracleDataSourceId"></property>
                    <property name="name" value="oracle数据库"></property>
                    <property name="databaseDialect" value="Oracle"></property>
                    <property name="datasource">
						<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource">
					       <property name="driverClassName">
					           <value>oracle.jdbc.driver.OracleDriver</value>
					       </property>
					       <property name="url">
					           <value>jdbc:oracle:thin:@10.1.8.137:1521:mydev</value>
					       </property>
					       <property name="username">
					           <value>sc</value>
					       </property>
					       <property name="password">
					           <value>sc_abc</value>
					       </property>
						</bean>
                    </property>
				</bean>
				
				<bean class="com.yesmynet.query.core.dto.DataSourceConfig">
					<property name="id" value="derbyDataSourceId"></property>
                    <property name="name" value="derby数据库"></property>
                    <property name="databaseDialect" value="Derby"></property>
                    <property name="datasource" ref="dataSource"></property>
                    <property name="systemConfigDb" value="true">
                    </property>
				</bean>
			</list>
		</property>
		<property name="redisConfigList">
			<list>
				<bean class="com.yesmynet.query.core.dto.RedisConfig">
					<property name="id" value="derbyDataSourceId"></property>
                    <property name="name" value="测试redis"></property>
				</bean>
			</list>
		</property>
		<property name="resourceRoles">
			<map>
				<entry key="derbyDataSourceId">
					<list>
						<bean class="com.yesmynet.query.core.dto.Role">
							<property name="roleCode" value="role_admin"></property>
						</bean>
					</list>	
				</entry>
			</map>
		</property>		
		<property name="configedQuerys">
			<map>
				<entry key="dqQuery">
					<bean class="com.yesmynet.query.service.impl.QueryDefaultImpl">
						<property name="databaseDialectServices">
							<list>
								<bean class="com.yesmynet.query.service.DatabseDialectService$1">
								</bean>
							</list>
						</property>
					</bean>
				</entry>
				<entry key="queryDefinition">
					<bean class="com.yesmynet.query.service.impl.QueryDefinitionImpl">
						<property name="commandQueryMap">
							<map>
								<entry key="command1">
									<bean class="com.yesmynet.query.service.impl.QueryDefinitionImpl$QueryDefinitionSave">
									</bean>
								</entry>
								<entry key="command2">
									<bean class="com.yesmynet.query.service.impl.QueryDefinitionImpl$QueryParameterSave">
									</bean>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
			</map>
		</property>
		<property name="optionGetters">
			<map>
				<entry key="resourceOption">
					<bean class="com.yesmynet.query.core.service.run.impl.optiongetter.ResourceOptionGetter">
						<property name="resourceType" value="DB"></property>
						<property name="generateAnEmptyOption" value="true"></property>
					</bean>
				</entry>
			</map>
		</property>
		
		
	</bean>
	<bean id="queryRenderService" class="com.yesmynet.query.http.service.QueryRenderService">
		<property name="parameterLayoutService" ref="formLayoutService"></property>
	</bean>
	<bean id="simpleLayoutService" class="com.yesmynet.query.http.service.impl.SimpleLayoutService"></bean>
	<bean id="formLayoutService" class="com.yesmynet.query.http.service.impl.FormLayoutService"></bean>
	
</beans>
