<#import "function.ftl" as dbQueryFuntion>
<!DOCTYPE HTML>
<html>
	
	<@dbQueryFuntion.head></@dbQueryFuntion.head>
	<script type="text/javascript">
		function submitQueryForm()
		{
			$("#queryForm").submit();
		}
		shortcut.add("F8", submitQueryForm);//定义快捷键
	</script>
	<body>
		<div class="divBlock">
			<form id="queryForm" action="" method="POST">
				${queryHtml}
			</form>
		</div>
		<div class="divBlock">
			
			${(queryResult.content)!""}
			<pre>${queryExecuteExceptionString}</pre>
				
		</div>
		<script type="text/javascript">
			$(document).delegate(".dbQueryViewLOb", "click", function() {
			});
			function showDBLobSql(command)
			{
				var tag = $("#dbqueryDialogContainer").html("sql：<textarea rows='14' cols='60' name='content'></textarea>");
				tag.dialog({
				      modal: true, title: '参数删除', zIndex: 10000, autoOpen: true,
				      width: 'auto', resizable: true,
				      buttons: [
				      		{
								text:"确认",
								click:function(){
									$(this).dialog("close"); 
								} 
							},
				      		{
								text:"取消",
								click:function(){
									$(this).dialog("close"); 
								} 
							}
				      ]
				      
				});
				
			}
		</script>
	</body>
</html>

